@model IQueryable<ShoppingCart.Application.ViewModels.CreateTaskViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {

        @Html.Partial("ViewTaskPartial", Model)

    }
</div>