
@model ShoppingCart.Application.ViewModels.CreateTaskViewModel

@{
    ViewData["Title"] = "CreateTask";
}
<div class="text-center">
    <h1 class="display-4">CreateTask</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Upload" Form="method/post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="taskTitle" class="control-label">Task Title</label>
                    <input asp-for="taskTitle" class="form-control" />
                    <span asp-validation-for="taskTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="taskDescription" class="control-label">Task Description</label>
                    <input asp-for="taskDescription" class="form-control" />
                    <span asp-validation-for="taskDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="taskDeadline" class="control-label">Task Deadline</label>
                    <input asp-for="taskDeadline" class="form-control" />
                    <span asp-validation-for="taskDeadline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="teacherEmail" class="form-control" hidden value="@User.Identity.Name" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>